.sidebar {
    position: absolute;
    top: 0;
    width: 430px;
    left: -430px;
    height: 100%;
    background-color: $background-color;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 768px) {
        width: 100% !important;
        left: -100% !important;

        &.open {
            left: 0px !important;
        }
    }
    .containerForSpots {
        width: 100%;
        height: 90px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
    &.open {
        left: 436px;
    }
    .addToFavorites {
        align-self: flex-end;
        cursor: pointer;
        padding: $spacing-medium;
        font-size: $font-size-large;
        margin-left: 100px;
        border-radius: 10px;
        border: none;
        margin: 0;
        transition: all 0.2s ease;
        &:hover {
            background-color: darken($color: $background-color, $amount: 10);
        }
    }
    .reserveButton {
        background-color: $secondary-color;
        color: rgb(241, 236, 236);
        padding: $spacing-small;
        font-size: $font-size-large;
        border-radius: $border-radius;
        border: 0;
        margin-top: $spacing-small;
        width: 100%;

        cursor: pointer;
        transition: $transition-default;
        &:hover {
            background-color: #119e37;
        }
    }

    .closeButton {
        background: none;
        border: none;
        top: 0px;
        position: absolute;
        font-size: 24px;
        right: 0px; // Place close button outside the sidebar
        height: 55px;
        border-radius: 5px;
        box-shadow: 1px 2px 1px rgb(132, 131, 131);
        background-color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        z-index: 1001;
    }

    .sidebarContent {
        padding: 20px;
        overflow-y: auto;

        .imageSlider {
            display: flex;
            position: relative;
            gap: 10px; // Space between images
            overflow-x: hidden;

            .imageContainer {
                display: flex;
                scroll-snap-type: x mandatory;
                overflow-x: auto; // Horizontal scrolling for the images
                gap: 10px;
                scroll-behavior: smooth;

                img {
                    flex: 0 0 100%;
                    max-width: 100%;
                    height: auto;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Shadow effect
                    scroll-snap-align: center;
                }
            }

            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                background: none;
                border: none;
                cursor: pointer;
                z-index: 1;
                padding: 10px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.8); // Arrow background
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }

            .arrowLeft {
                left: 5px;
            }

            .arrowRight {
                right: 5px;
            }
        }
    }
}
